*{
    padding: 0;
    margin: 0;
    background-color: #121A1F;
}
@font-face {
	font-family: 'Montserrat';
	src: url('../Montserrat/static/Montserrat-Regular.ttf');
	src: url('../Montserrat/static/Montserrat-Regular.ttf') format('ttf'),
	     url('../Montserrat/static/Montserrat-Regular.ttf') format('truetype');
}
/* NAVBAR */
@media(max-width: 2000px){
    nav.back-navbar{
        background-color: #121A1F;
        height: 100px;
        padding-left: 20px;
        padding-right: 20px;
        box-shadow: 0px 0px 4px 4px;
    }
    #navbar-kategori{
        margin-left: 50px;
        margin-top: 5px;
        margin-right: 50px;
        padding: 5px;
    }
    #navbar-kategori .nav-link{
        color: white;
        font-family: 'Montserrat';
        font-size: 18px;
    }
    /* navbar-auth */
    .navbar-auth{
        position: relative;
    }
    /* Notif */
    #bell .bell{
        color: white;
        font-size: 25px;
        padding: 20px;
    }
    .bell{
        padding-right: 25px !important;
    }
    /* Notif end */
    /* SEARCH */
    input.search{
        width: 400px !important;
        margin-right: 10px;
    }
    /* SEARCH END */
    /* User */
    #user{
        position: relative;
        margin: 5px;
        padding: 10px;
    }
    /* UserEnd */
    /* navbar-auth end */
    /* NAVBAR END */
    /* ============================ */
    /* Container */
    .content{
        max-width: 100%;
        max-height: 100%;
        color: white;
        padding: 30px;
    }
    
    span#judul{
        text-align: justify;
        font-size: 30px;
        font-weight: bold;
        font-style: normal;
        font-family: 'Montserrat';
    }
    span#isi{
        text-align: justify;
        font-size: 20px;
        font-style: normal;
        font-family: 'Montserrat';
    }
    /* PROGRESS BAR */
    #progress-satu,
    #progress-dua,
    #progress-tiga,
    #progress-empat,
    #progress-lima
    {
        background-color: #1F2D35;
        height: 50px;
    }
    #progress-loadSatu{
        width: 10%;
    }
    label#label1{
        background-color: transparent;
        position: absolute;
        margin: 25px;
        font-family: 'Montserrat';
        font-size: 12px;
        font-style: normal;
    }
    label#label2{
        font-family: 'Montserrat';
        font-size: 16px;
        font-style: normal;
        background-color: transparent;
        position: absolute;
        margin-left: 80%;
        margin-top: auto;
        margin-bottom: auto;
    }
    /* PROGRESS BAR END */
    /* CONTENT SIDE TWO */
    #pre-judul{
        width: 22rem;
        background-color:#1F2D35;
        border-radius: 2%;
    }
    span#text-pre{
        background-color: transparent;
        font-size: 18px;
        font-weight: bold;
        font-family: 'Montserrat';
        font-style: normal;
    }
    #span-1{
        font-weight: bold;
        font-family: 'Montserrat';
        font-style: normal;
        font-size: 14px;
        background-color: transparent;
    }
    /* CONTENT SIDE TWO END */
    /* Container End */
}